
<!DOCTYPE html>
<html lang="en">
<%- include("./not_partials/not_head.ejs") %>
<body>
    <%- include("./not_partials/not_nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>
            Mini Notepad is a simple web app created to help you write, save,
            and organize your notes easily.
        </p>
    </div>

    <%- include("./not_partials/not_footer.ejs") %>
</body>
</html>