
<!DOCTYPE html>
<html lang="en">
<%- include("./not_partials/not_head.ejs") %>
<body>
    <%- include("./not_partials/not_nav.ejs") %>

    <div class="create-notes">
        <form action="/create-notes" method="POST"> 
            <label for="title">Note title</label>
            <input type="text" id="title" name="title" required>
            <label for="body">Note content</label>
            <textarea id="content" name="content" required></textarea>
            <button>Save Note</button>
        </form>
    </div>

    <%- include("./not_partials/not_footer.ejs") %>
</body>
</html>