
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Notepad | <%= title %></title>
    <style>

        body{
            font-family: sans-serif;
            font-size: 16px;
            line-height:normal;
            color:rgb(25, 24, 24);

            background-color:rgb(230, 230, 222);
            max-width: 1200px;
            margin: 20px;
            padding:0 20px;
        }
        nav{
            display:flex;
            justify-content:space-between;
            margin-bottom: 60px;
            padding-bottom: 10px;
            text-transform:uppercase;
        }
        nav ul{
            display:flex;
            justify-content:space-between;
            align-items:flex-end
        }
        nav li{
            list-style-type:none;
            margin-left: 20px;
        }
        nav h1{
            font-size: 3em;
        }
        .content{
            max-width: 4000px;
            margin: 0 auto;
        }
        .create-notes{
            max-width: 4000px;
            margin: 0 auto;
            display:block;
            width: 100%;
        }
        .create-notes button {
            background:crimson;
            color:white;
            cursor:pointer;
        }
        
    </style>
</head>
