
    <nav>
        <div class="site-title">
            <a href="/"><h1>Mini Notepad</h1></a>
            <p>Write, Save, Remember</p>
        </div>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/create-notes">Create Notes</a></li>
            <li><a href="/all-notes">All Notes</a></li>
        </ul>
    </nav>